* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --font-primary: 'Varela Round', sans-serif;
    --font-secondary: 'Orbitron', sans-serif; 
}

body {
    width: 100%;
    background: white;
    font-family: var(--font-primary);
}


/* header */
.header {
    display: flex;
    align-items: center;
    width: 1000px;
    padding: 14px 0;
    justify-content: space-between;
    margin: 0 auto;
}

/* btn-lang */
.header__btn-lang {
    border: none;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    color: #afafaf;

}

/* Section 1 */
.login-create {
    display: flex;
    align-items: center;

    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 100px;
    margin-top: 110px;
    margin-bottom: 140px;

}

.login-create__left img {
    width: 450px;
    height: 450px;
    display: block;
}

.login-create__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
}

.login-create__btn-inizial {
    display: flex;
    align-items: center;
    margin-top: 20px;
    max-width: 400px;
    flex-direction: column;
    gap: 15px;
    width: 330px;
}

.login-create__btn-inizial button {
    width: 100%;
    height: 46px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;

}

.login-create__btn-inizia {
    background: #58cc02;
    color: #ffff;
    box-shadow: 0 4px 4px 0 rgba(88, 167, 0);
    border: 1px solid rgba(88, 167, 0);

}

.login-create__btn-account {
    background: white;
    color: #1cb0f6;
    box-shadow: 0 4px 4px 0 rgb(137, 136, 136);
    border: 1px solid rgb(137, 136, 136);

}

.login-create__right h1 {
    color: #4b4b4b;
    font-family: "din-round sans-serif";
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.login-create__btn-inizia:hover {
    background: #9fed62;

}

.login-create__btn-account:hover {
    background: #afafaf;

}

/* section-2- languages */
.lang-select__languages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #ffff;

}

.lang-select__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    flex-wrap: nowrap;

}

/* section-2- languages (Languages names configs) */
.lang-select__language {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #777777;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    white-space: nowrap;

}

/* section-2- languages (Flags and arrow configs) */
.lang-select__language img {
    width: 36px;
    height: 27.77px;
    object-fit: cover;
    display: block;
}

.lang-select__arrow img {
    width: 15px;
    height: 15px;
    color: #777777;
}

.lang-select__arrow {
    background: none;
    border: none;
    cursor: pointer;

}

/* section free-fun */
/* section free-fun(Background and items position) */
.free-fun {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 10px;
    margin-top: 110px;
    margin-bottom: 140px;


}

.free-fun img {
    width: 400px;
    height: 400px;
    display: block;
}


.free-fun__left {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 100px;
}

/* section free-fun (text configs) */
.free-fun__left h1 {
    color: #58cc02;
    margin-bottom: 30px;
    font-size: 50px;
}

.free-fun p {
    color: #777777;
}

.free-fun__left-text {
    color: #1cb0f6;
    font-weight: bold;
}

/* section backed by science */

/* section backed by science (Background and items position)*/
.backed-science {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 10px;
    margin-top: 110px;
    margin-bottom: 140px;
}

.backed-science img {
    width: 400px;
    height: 400px;
    display: block;
}

.backed-science__right {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 150px;

}

/* section backed by science (text configs)  */
.backed-science h1 {
    color: #58cc02;
    margin-bottom: 30px;
    font-size: 50px;

}

.backed-science p {
    color: #777777;
}


/* section stay motivated */

/* section stay motivated (Background and items position) */
.stay-motivated {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 10px;
    margin-top: 110px;
    margin-bottom: 140px;


}

.stay-motivated img {
    width: 400px;
    height: 400px;
    display: block;

}

.stay-motivated__left {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 100px;
}


/* section stay motivated (text configs) */
.stay-motivated__left h1 {
    color: #58cc02;
    margin-bottom: 30px;
    font-size: 50px;

}

.stay-motivated p {
    color: #777777;
}

/* section personalized learning */

/* section personalized learning (Background and items position) */
.personalized-learning {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 10px;
    margin-top: 110px;
    margin-bottom: 140px;
}

.personalized-learning img {
    width: 400px;
    height: 400px;
    display: block;
}

.personalized-learning__right {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 150px;

}

/* section personalized learning (text configs) */
.personalized-learning h1 {
    color: #58cc02;
    margin-bottom: 30px;
    font-size: 50px;
}

.personalized-learning p {
    color: #777777;
}


/* Learn whenever you want */

/* Learn whenever you want (Section background and buttoons position configs) */
.learn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background: #b6dced;
    flex-direction: column;
    height: 1000px;
}

.learn__download-app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;


}

.learn__download-app img {
    width: 34px;
    height: 34px;
}

.learn__title {
    margin-top: 100px;
    color: #042c60;
    font-size: 35px;
    font-weight: 500px;
    width: 40%;

}

/* Learn whenever you want (buttons configurations) */

.learn__apple-store {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgb(137, 136, 136);
}

.learn__apple-store:hover {
    cursor: pointer;
    background: rgb(209, 206, 206)
}

.learn__google-play {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgb(137, 136, 136);
}

.learn__google-play:hover {
    cursor: pointer;
    background: rgb(209, 206, 206);
}

/* Learn whenever you want (content inside the buttons) */
.learn__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #484848;
    font-weight: bold;
    text-align: justify;
}

.learn__text-top {
    font-size: 15px;

}

.learn__text-bottom {
    font-size: 20px;
}


/* Section prova gratis */
.prova__gratis {
    display: flex;
    background:#120e36;
    display: flex;
    height: 1000px;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    

}

.prova__gratis-left img{
    width: 630px;
    height: 630px;
    margin-left: 10px;
    


}

.prova__gratis-right-text{

    align-items: center;
    
   
    
}



.prova__gratis-right-text-up{
    display: flex;
    color: white;
    text-transform: uppercase;
    align-content: center;
    align-items: center;
    font-family: var(--font-secondary);
    

}
.prova__gratis-right-text-bottom{
display: flex;
color: greenyellow;
font-size:xxx-large;
font-weight: 400;
font-style:oblique;
font-family: var(--font-secondary);
}

.prova__gratis-right-button{
    display: flex;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 50px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px 0 rgb(137, 136, 136);

}

/* section english test */
/* section english test(Background and items position) */
.english-test {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 10px;
    margin-top: 120px;
    margin-bottom: 120px;


}

.english-test img {
    width: 400px;
    height: 400px;
    display: block;
}


.english-test__left {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 100px;
}



/* section english-test (text configs) */
.english-test__left h1 {
    color: #58cc02;
    margin-bottom: 30px;
    font-size: 50px;
}

.english-test p {
    color: #777777;
}

.english-test__left-text {
    color: #1cb0f6;
    font-weight: bold;
}

.english-test__btn{
    background: white;
    color: #1cb0f6;
    box-shadow: 0 4px 4px 4px rgb(137, 136, 136);
    border: 1px solid rgb(137, 136, 136);
    font-weight: bold;

}

.english-test__btn-certifica button{
    width: 50%;
    height: 46px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    align-content: center;
    margin-top: 40px;
}

/* section duolingo for-schools */

/* section duolingo for-schools (Background and items position)*/
.for-schools {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 10px;
    margin-top: 110px;
    margin-bottom: 140px;
}

.for-schools img {
    width: 400px;
    height: 400px;
    display: block;
}

.for-schools__right {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 150px;

}

/* section for-schools (text configs)  */
.for-schools h1 {
    color: #58cc02;
    margin-bottom: 30px;
    font-size: 50px;

}

.for-schools p {
    color: #777777;
}

.for-schools__btn{
    background: white;
    color: #1cb0f6;
    box-shadow: 0 4px 4px 4px rgb(137, 136, 136);
    border: 1px solid rgb(137, 136, 136);
    font-weight: bold;

}

.for-schools__btn-imposta button{
    width: 50%;
    height: 46px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    align-content: center;
    margin-top: 40px;
}


/* section duolingo abc */
/* section duolingo-abc(Background and items position) */
.duolingo-abc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 10px;
    margin-top: 110px;
    margin-bottom: 140px;


}

.duolingo-abc img {
    width: 400px;
    height: 400px;
    display: block;
}


.duolingo-abc__left {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 100px;
}

/* section duolingo-abc (text configs) */
.duolingo-abc__left h1 {
    color: #58cc02;
    margin-bottom: 30px;
    font-size: 50px;
}

.duolingo-abc p {
    color: #777777;
}

.duolingo-abc__left-text {
    color: #1cb0f6;
    font-weight: bold;
}
.duolingo-abc__btn{
    background: white;
    color: #1cb0f6;
    box-shadow: 0 4px 4px 4px rgb(137, 136, 136);
    border: 1px solid rgb(137, 136, 136);
    font-weight: bold;

}

.duolingo-abc__btn-abc button{
    width: 50%;
    height: 46px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    align-content: center;
    margin-top: 40px;
}