*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: var(--color-white);
  font-family: "DIN Rounded", Arial, sans-serif;
  color: var(--color-gray-dark);
}

h1,
h2 {
  font-family: "Feather", "DIN Rounded", Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

button,
a {
  font: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
}
