/* ========================= */
/* GLOBAL RESET */
/* ========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: var(--color-white);
  font-family: "DIN Rounded", Arial, sans-serif;
}

h1,
h2 {
  font-family: "Feather", "DIN Rounded", Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
}
