/* ========================= */
/* GLOBAL RESET / BASE */
/* ========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

  font-family: "DIN Rounded", sans-serif;
  line-height: 1.5;
  color: var(--color-gray-text-dark);
  background-color: var(--color-white);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* ========================= */
/* MEDIA */
/* ========================= */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ========================= */
/* FORM ELEMENTS */
/* ========================= */

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ========================= */
/* LINKS */
/* ========================= */

a {
  text-decoration: none;
  color: inherit;
}

/* ========================= */
/* LISTS */
/* ========================= */

ul,
ol {
  list-style: none;
}

/* ========================= */
/* TYPOGRAPHY */
/* ========================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

/* ========================= */
/* LAYOUT */
/* ========================= */

main {
  display: block;
  width: 100%;
}

/* ========================= */
/* ACCESSIBILITY */
/* ========================= */

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--color-blue-primary);
  outline-offset: 2px;
}

/* ========================= */
/* HEADER MOBILE FIRST */
/* ========================= */
.header {
  width: 100%;
}

.header__mobile {
  display: block;
}

.header__desktop {
  display: none;
}

.header__mobile-bar {
  display: flex;
  align-items: center;
  gap: 43px;
  padding: 16px;
  background-color: var(--color-white); 
  height: 55px;
}

.header__menu-toggle img {
  width: 24px;
  height: 24px;
}

.header__logo {
  width: 210px;
  height: 32px;
}
