/* Header mobile */
.header {
  position: fixed;
  top: 0;
  z-index: 1000;

  width: 100%;
  height: 70px;
  background-color: #ffffff;
  border-bottom: 2px solid #e5e5e5;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header__logo img {
  display: block;
  width: 161px;
  height: auto;
}

.header__language {
  display: none;
}

/* Hero Mobile */

/* Container principale */
.hero {
  margin-top: 70px;
  padding: 24px 16px 32px;
  text-align: center;
  background-color: #ffffff;
}

/* Blocco immagine */
.hero__media {
  margin-bottom: 24px;
}

/* Immagine principale */
.hero__image {
  width: 100%;
  max-width: 310px;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* Contenuto testuale */
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Titolo */
.hero__title {
  font-size: 27px;
  line-height: 1.4;
  font-weight: 700;
  color: #4b4b4b;
  margin-bottom: 24px;
}

/* Container bottoni */
.hero__actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 80px;
}

/* Bottone primario */
.button--primary {
  display: block;
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  background-color: #58cc02;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  box-shadow: 0 4px 0 #46a302;
}

/* Bottone secondario */
.button--secondary {
  display: block;
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  color: #1cb0f6;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  /* Ombra grigia */
  box-shadow: 0 4px 0 #e5e5e5;
}

/* Stato attivo (pressione bottone) */
.button--primary:active,
.button--secondary:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 transparent;
}

/* language strip mobile */
.language-strip {
  display: none;
}

/* Feature Section mobile */

/* Sezione principale */
.feature-section {
  padding: 10px 16px;
  text-align: center;
  background-color: #ffffff;
}

/* Contenuto testuale */
.feature-section__content {
  margin-bottom: 32px;
}

/* Titolo */
.feature-section__content h2 {
  font-size: 37px;
  font-weight: 800;
  line-height: 1.3;
  color: #58cc02; /* verde Duolingo */
  margin-bottom: 16px;
  text-transform: lowercase;
}

/* Testo */
.feature-section__content p {
  font-size: 15px;
  line-height: 1.6;
  color: #777777;
  max-width: 320px;
  margin: 0 auto;
  font-weight: 600;
}

/* Link nel testo */
.text-link {
  color: #1cb0f6;
  text-decoration: none;
  font-weight: 800;
}

/* Media (immagine/gif) */
.feature-section__media {
  display: flex;
  justify-content: center;
}

/* Immagine */
.feature-section__media img {
  width: 100%;
  max-width: 360px;
  height: auto;
}
