/* Header mobile */
.header {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  border-bottom: 2px solid #e5e5e5;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header__logo img {
  display: block;
  width: 161px;
  height: auto;
}

.header__language {
  display: none;
}
